<!DOCTYPE html>
<html>
<head>
    <title>Lessons</title>
</head>
<body>
    <h1>Lessons</h1>
    <table>
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Impact</th>
            <th>Actions</th>
        </tr>
        {% for lesson in lessons %}
        <tr>
            <td>{{ lesson.id }}</td>
            <td>{{ lesson.title }}</td>
            <td>{{ lesson.description }}</td>
            <td>{{ lesson.type }}</td>
            <td>{{ lesson.impact }}</td>
            <td>
                <a href="/lessons/{{ lesson.id }}/edit">Edit</a>
                <a href="/lessons/{{ lesson.id }}/delete">Delete</a>
            </td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>